<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.css') }}">
    <link rel="stylesheet" href="{{url_for('static', filename='css/bootstrap-theme.min.css') }}">
    <script src="{{url_for('static', filename='js/bootstrap-theme.min.js') }}" ></script>
    <title>Jogoteca</title>

</head>
<body>
    <div class="container">
        <div class="page-header">
            <h2> Olá Flask!</h2>
            <h2>{{ titulo }}</h2>
        </div>

        {% block content %}{% endblock %}

    </div>
</body>
</html>